<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Student Management System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
	<!--<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">-->
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<style>
#content {
    width: 25%;
    margin: 0 auto;
}
</style>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-12">      
    </div>
</div>
</div>

<h3 class="text-center">Student Database Management System </h3>





<!-- Modal insert -->
<div class="modal fade" id="modalins" tabindex="-1" role="dialog" aria-labelledby="myModalLabelIns">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelIns">Insert</h4>
      </div>
      <div class="modal-body">
       <div class="input-group input-group-sm">
		<form class="form-signin" action = "{{ url_for('insert') }}" method = "post">
		<label for="name" class="sr-only">Name</label>
		<input type="text" name="name"class="form-control" placeholder="Name" aria-describedby="sizing-addon3" required autofocus><br>
		<br/><br/><label for="roll_no" class="sr-only">Roll No.</label>
		<input type="text" name="roll_no" class="form-control" placeholder="Roll No." required><br/>
		<label for="studentid" class="sr-only">Student ID</label><br/>
		<br/><input type="text" name="studentid" class="form-control" placeholder="Student ID" required>
		<br/>
		<label for="attendance" class="sr-only">Attendance</label><br/>
		<br/><input type="text" name="attendance" class="form-control" placeholder="Lec. attended/Total lec." required>

	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
	</form>
      </div>
    </div>
  </div>
</div>



<!-- Modal update-->
<div class="modal fade" id="modalupd" tabindex="-1" role="dialog" aria-labelledby="myModalLabelUpd">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelUpd">Update</h4>
      </div>

      <div class="modal-body">
	<div class="input-group input-group-sm">
		<h4 class="modal-title" id="myModalLabelUpd">Enter current student ID:</h4>
		<form class="form-signin" action = "{{ url_for('update') }}" method = "post">
		<label for="studentid" class="sr-only">Student ID</label><br/>
		<input type="text" name="old_studentid" class="form-control" placeholder="Student ID" aria-describedby="sizing-addon3" required autofocus><br/>	   	
		<br/><br/><h4 class="modal-title" id="myModalLabelUpd">Enter new details:</h4><br/>
		<label for="name" class="sr-only">Name</label>
		<input type="text" name="name"class="form-control" placeholder="Name" aria-describedby="sizing-addon3" required autofocus><br>
		<br/><br/><label for="roll_no" class="sr-only">Roll No.</label>
		<input type="text" name="roll_no" class="form-control" placeholder="Roll No." required><br/>
		<label for="newstudentid" class="sr-only">Student ID</label><br/>
		<br/><input type="text" name="studentid" class="form-control" placeholder="Student ID" required><br/>
		<label for="attendance" class="sr-only">Attendance</label><br/><br/>
		<input type="text" name="attendance" class="form-control" placeholder="Lec. attended/Total lec." required>
		
           </div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button></form>
      </div>
    </div>
  </div>
</div>



<!-- Modal delete-->
<div class="modal fade" id="modaldel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelDel">Delete</h4>
      </div>
      <div class="modal-body">
               <div class="input-group input-group-sm">
		<form class="form-signin" action = "{{ url_for('delete') }}" method = "post">
		<label for="studentid" class="sr-only">Student ID</label>
		<input type="text" name="studentid" class="form-control" placeholder="Student ID" aria-describedby="sizing-addon3" required autofocus>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
	</form>
      </div>
    </div>
  </div>
</div>




<!-- table-->

<table class="table table-bordered ">

	 <thead>
            <tr>
               <th>Name</th>
               <th>Roll No.</th>
               <th>Student ID</th>
	       <th>Attendance</th>
            </tr>
         </thead>

	<tbody>
            {% for student in studentsall %}
               <tr 
		  {% if student.attendance < 60 %}
		  class="danger"
		  {% elif student.attendance < 75 %}
		  class="warning"
		  {% endif %}
		>
                  <td>{{ student.name }}</td>
		  <td>{{ student.roll_no }}</td>
		  <td>{{ student.studentid }}</td>
		  <td>{{ student.attendance }}%</td>
               </tr>
            {% endfor %}

         </tbody>
	
</table>




<div class="container">
  <div class="row">
    <div class="col-sm-1">      
    </div>
    <div class="col-sm-1">      
    </div>
    <div class="col-sm-1">      
    </div>
	    <div class="col-sm-1">      
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modalins">Insert</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modalupd">Update</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modaldel">Delete</button>
    </div>
    <div class="col-sm-1">
      <form  action = "{{ url_for('logout') }}" method = "post">
	<button type="submit" class="btn btn-primary ">Log Out</button></form>
    </div>
  </div>
</div>







<!--
<div class=" btn btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default " data-toggle="modal" data-target="#modalins">Insert</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default " data-toggle="modal" data-target="#modalupd">Update</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default " data-toggle="modal" data-target="#modaldel">Delete</button>
  </div>
</div>
-->


</body>
</html>